// common style
// font style
.red {
  color: #df3d33;
}
// common card style
.common-card {
  border: 1px solid #BBBBBB;
  padding: 0 15px 5px;

  .common-card-title {
    font-size: 14px;
    color: #101010;
    font-weight: 600;
    line-height: 30px;
    margin-left: -5px;
    position: relative;
  
    .common-card-title-right-option {
      position: absolute;
      right: 0;
      top: 0;
      line-height: 30px;
      font-size: 12px;
      color: #A29B9B;
      font-weight: 400;

      &.has-arrows {
        right: -3px;
      }
    }
  }
}